@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
    <h1>Sinh viên</h1>
    @helper.form(action = routes.Students.save()) {
        <fieldset>
            <legend>Sinh viên (@studentForm("name").valueOr("mới"))</legend>
            @helper.inputText(studentForm("stt"), '_label -> "STT")
            @helper.inputText(studentForm("ten"), '_label -> "Họ Tên")
            @helper.inputText(studentForm("ngaysinh"), '_label -> "Ngày sinh")
            @helper.inputText(studentForm("mssv"), '_label -> "MSSV")
            @helper.inputText(studentForm("diachi"), '_label -> "Địa chỉ")
            @helper.inputText(studentForm("email"), '_label -> "E-mail")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
}
}