@(students: List[Student])
@main("Students catalogue") { <h2>All students</h2>

<script>

   function del(urlToDelete) {

      $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(results) {
          // Refresh the page
          location.reload();
        }
      });
   }
</script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>stt</th>
                <th>Họ Tên</th>
                <th>Ngày sinh</th>
                <th>Mssv</th>
                <th>Địa chỉ</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
        @for(student <- students) {
        <tr>
            <td><a href="@routes.Students.details(student.mssv)">@student.stt</a> </td>
            <td><a href="@routes.Students.details(student.mssv)">@student.ten</a> </td>
            <td><a href="@routes.Students.details(student.mssv)">@student.ngaysinh</a> </td>
            <td><a href="@routes.Students.details(student.mssv)">@student.mssv</a> </td>
            <td><a href="@routes.Students.details(student.mssv)">@student.diachi</a> </td>
            <td><a href="@routes.Students.details(student.mssv)">@student.email</a> </td>
			<td><a onclick="del('@routes.Students.delete(student.mssv)')">Delete</a></td>

        </tr>
        }
        </tbody>
    </table>
	
	<a href="@routes.Students.newStudent()" class="btn btn-primary">New Student</a>
}