@(students: List[Student])
@main("Students catalogue") { <h2>All students</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày sinh</th>
                <th>Mssv</th>
                <th>Địa chỉ</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
        @for(student <- students) {
        <tr>
            <td><a href="@routes.Students.details(student.stt)">@student.stt</a> </td>
            <td><a href="@routes.Students.details(student.stt)">@student.ten</a> </td>
            <td><a href="@routes.Students.details(student.stt)">@student.ngaysinh</a> </td>
            <td><a href="@routes.Students.details(student.stt)">@student.mssv</a> </td>
            <td><a href="@routes.Students.details(student.stt)">@student.diachi</a> </td>
            <td><a href="@routes.Students.details(student.stt)">@student.email</a> </td>

        </tr>
        }
        </tbody>
    </table>
}